{% extends 'base.html.twig' %}

{% block title %}New DossierMedicale{% endblock %}

{% block body %}

{# {{ include('dossier_medicale/_form.html.twig') }} #}

<div class="flex justify-center items-center h-screen bg-blue-200">   
    <div class="w-full max-w-md bg-gray-200 p-4 rounded-md">
        <div class="mb-4">
    <form >
    {% for question in ques %}
    
    <table border="1">
        <tbody>
            
            <tr>
                <th>Question</th>
                <td>{{ question.question }}</td>
            </tr>

        </tbody>
    </table>


        <table class="table">
            <thead>
            <tr>
                <th>Reponse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for reponse in reps %}
                {%if reponse.question == question %}
                <tr>
                    <td>{{ reponse.reponse }}</td>
                    <td>
                        <a  href="{{ path('handle_form_submission', {'idq': question.id,'idr': reponse.id}) }}">add</a>
                    </td>
                </tr>
            
                {%endif%}
            {% endfor %}
            </tbody>
            
        </table>

        
    
    {%endfor%}
</form>
</div>
    <a href="{{ path('app_dossier_medicale_index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full" >back to list</a>

    </div>
    </div>
    {% endblock %}
