{% extends 'base.html.twig' %}


{% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}Log in- HelpMeBalance{% endblock %}
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css" />
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme2.css" />
  </head>
  <body>
    <div class="form-body">
      <div class="website-logo">
        <a href="index.html">
          <div class="logo">
            <img class="logo-size" src="images/logo-light.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="row">
        <div class="img-holder">
          <div class="bg"></div>
          <div class="info-holder"></div>
        </div>
        <div class="form-holder">
          <div class="form-content">
            <div class="form-items">
              <h3>Get more things done with Loggin platform.</h3>
              <p>
                Access to the most powerfull tool in the entire design and web
                industry.
              </p>
              <div class="page-links">
                <a href="login" class="active">Login</a
                ><a href="register">Register</a>
              </div>
              <form method="post" novalidate>
                {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% endif %}
                <input
                  name="_username"
                  id="username"
                  autocomplete="email"
                  required
                  autofocus
                  class="form-control"
                  type="text"
                  value="{{ last_username }}"
                  placeholder="E-mail Address"
                  required
                />
                <input
                  name="_password"
                  autocomplete="current-password"
                  class="form-control"
                  type="password"
                  id="password"
                  placeholder="Password"
                  required
                />
                <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
                >
                {% if error %}
                    <div class="text-red-400">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="checkbox" id="chk1" /><label for="chk1"
                  >Remmeber me</label
                >
                <div class="form-button">
                  <button id="submit" type="submit" class="ibtn">Login</button>
                  <a href="forget.html">Forget password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
{% endblock %}
